/* NAVBAR */

.dropdown-menu
	{
	  position: fixed;
	  display: inline-block;
	  top: 70px;
	  width: auto;
	}

.burger
	{
		width: 30px;
		height: 3px;
		background-color: white;
		display: block;
		margin: 5px;
		border-radius: 20px;
	}

.nav-btn
	{
		height: 53px;
		width: 53px;
		border: none;
		border-radius: 70px;
		background-color: blue;
		position: absolute;
		opacity: 0.5;
	}
	
.navbar
	{
		background: blue;
		opacity: 0.8;
		display: none;
		margin-bottom: 15px 0;
		border-radius: 3px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
		font-family: 'Century Gothic';
	}
	
.navbar ul
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: block;
	}

.navbar li 
	{
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		color: yellow;
	}

.navbar li a
	{
		padding: 15px 20px;
		text-decoration: none;
		font-size: 25px;
		color: yellow;
		display: inline-block;
		outline: 0;
		font-weight: 400;
	}
	
	
.navbar li:hover ul.dropdown
	{
		display: contents;
	}
	
.navbar li ul.dropdown
	{
		position: absolute;
		display: none;
		width: 200px;
		background: #2980b9;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
		padding-top: 0;
	}
	
.navbar li ul.dropdown li
	{
		display: block;
		list-style-type: none;
	}
	
.navbar	li ul.dropdown li a
	{
		padding: 15px 20px;
		font-size: 20px;
		color: yellow;
		display: block;
		font-weight: 400;
	}
	
.navbar li ul.dropdown li:last-child a /* "li:last-child" last element in the set of li elements*/
	{
		border-bottom: none;
	}
	
.navbar li:hover a
	{
		background: #03B0DA;
		width: 100%
		color: yellow !important;
	}
	
.navbar li:first-child:hover a
	{
		border-radius: 3px 0 0 3px;
	}
	
.navbar li ul.dropdown li:hover a
	{
		background: rgba( 0, 0, 0, 0.1);
	}
	
.navbar li ul.dropdown li:first-child:hover a
	{
		border-radius: 0;
	}
	
.navbar li:hover .arrow-down
	{
		border-top: 5px solid #fff;
	}
	
.arrow-down
	{
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #def1f0;
		position: relative;
		top: 15px;
		right: -5px;
		content: '';
	}

.dropdown-menu:hover .navbar
	{
		display: block;
		top: 10px;
		left: 10px;
	}
	
	
	/* CSS NAV */
	
.dropdown-menu-css
	{
	  position: fixed;
	  display: block;
	  top: 210px;
	  width: auto;
	}

.burger-css
	{
		width: 30px;
		height: 3px;
		background-color: white;
		display: block;
		margin: 5px;
		border-radius: 20px;
	}

.nav-btn-css
	{
		height: 53px;
		width: 53px;
		border: none;
		border-radius: 70px;
		background-color: blue;
		position: absolute;
		opacity: 0.5;
		float: right;
	}
	
.navbar-css
	{
		background: blue;
		display: none;
	}
	
.navbar-css button
	{
		border: 0;
		background-color: yellow;
		color: black;
		height: 50px;
		width: 200px;
		font-size: 25px;
	}

.navbar-css button:hover
	{
		background-color: orange;
	}	

.dropdown-menu-css:hover .navbar-css
	{
		display: block;
		top: 10px;
		left: 10px;
		float: left;
	}

.container
	{
		background-color: black;
		padding-top: 80px;
		width: auto;
		height: auto;
		color: white;
	}

.change
	{
		position: fixed;
		top: 70px;
		right:0;
	}
	
.change button
	{
		font-family: "Century Gothic";
		font-size: 20px;
		color: black;
		background-color: yellow;
		border: 0px;
		width: 75px;
		height: 50px;
		opacity: 0.3;
	}
	
.change button:hover
	{
		background-color: darkyellow;
		border: 0px;
		width: 75px;
		height: 50px;
	}

p
	{
		font-family: Tahoma, Arial;
		font-size: 30px;
	}
	
ol, ul
	{
		font-family: Tahoma, Arial;
		font-size: 27px;
	}
	
h1, h2, h3
	{
		font-family: Calibri;
	}
	
h1
	{
		font-size: 48px;
	}
	
h2
	{
		font-size: 36px;
	}
	
h3
	{
		font-size: 31px;
	}	

img
	{
		height:300px;
		width:300px;
	}
	
.uptop a
	{
		text-decoration: none;
		color: green;
		font-size: 20px;
		font-family: Calibri;
		font-weight: bold;
	}	
	
.footer
	{
		height: 50px;
		width: auto;
		background-color: blue;
	}

.footer a
	{		
		text-decoration: none;
		color: yellow;
	}
	
.footer p
	{
		color: yellow;
		font-family: "Century Gothic", Arial;
		font-size: 20px;
	}
	
/*---Search Bar----*/

form
	{
		width: 100%;
	}
	
table
	{
		width: inherit;
	}

.search 
{
  width: 100%;
  display: flex;
  border: 0px;
  position: fixed;
  opacity: 0.9;
}

.searchTerm
{
  width: 100%;
  border: 3px solid blue;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  font-size: 35px;
}

.searchTerm:focus
{
  color: black;
}

.searchButton 
{
  width: 60px;
  height: 56px;
  border: 1px solid blue;
  background: blue;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/


