.navbar
	{
		background-color: blue;
		padding-top:36px;
	}
	
.navbar a
	{
		color: yellow;
		font-family: "Century Gothic", Arial;
		font-size: 20px;
		height:40px;
		width: auto;
		text-decoration: none;
		text-align: center;
		display: block;
		padding-top: 20px;
	}
	
.navbar a:hover
	{
		background-color: Yellow;
		color: blue;
		font-size: 25px;
		height: 50px;
		width: auto;
		font-family: "Century Gothic", Arial;
		text-shadow: 2px 2px 4px #000000;
	}
	
.navbar li
	{
		list-style-type: none;
		height: 30px;
		text-align: center;
	}	


p
	{
		font-family: Tahoma, Arial;
		font-size: 20px;
	}
	
ol, ul
	{
		font-family: Tahoma, Arial;
		font-size: 18px;
	}
	
h1, h2, h3
	{
		font-family: Calibri;
	}

img
	{
		height:300px;
		width:300px;
	}
	
.uptop a
	{
		text-decoration: none;
		color: green;
		font-size: 20px;
		font-family: Calibri;
		font-weight: bold;
	}	
	
.footer
	{
		height: 50px;
		width: auto;
		background-color: blue;
	}

.footer a
	{		
		text-decoration: none;
		color: yellow;
	}
	
.footer p
	{
		color: yellow;
		font-family: "Century Gothic", Arial;
		font-size: 20px;
	}
	
/*---Search Bar----*/

.search {
  width: 100%;
  position: fixed;
  display: flex;
  border: 0px;
}

.searchTerm {
  width: 100%;
  border: 3px solid blue;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid blue;
  background: blue;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
